h1{
    font-family: serif;
  
   color: #ff0000;
  
  font-size: 30px;
  
  color: #FFd800;
  
  background-color: #FF00FF;
  
  height: 80px;
  
  width: 200px;
  
}

img {

  height: 50px;
  
  width: 70px;
  
}
